body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  width: 100%;
  height: clamp(70px, 15vh, 120px);
  background-color: rgb(139, 138, 138);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.siteTitle{
  line-height: 70%;
  margin: 0;
  height: clamp(30px, 8vh, 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subtitle{
  margin: -10px 0 0 0;
  padding: 0;
}

.whole-page{
  margin-top: 20px;
  margin-left: -56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
.eachInput{
  margin-left: 56px;
  margin-bottom: 10px;
}
input{
  height: 1.5em;
  width: 8.5em;
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 5px;
}
button{
  padding: 0 6px 0 6px;
  margin: 0 2px 0 2px;
  background-color: rgb(255, 255, 255);
  height: calc(1.5em + 4px);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.tria-container{
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.triangle{
  position: absolute;
  margin: 0 0 100px 100px;
  background-color: black;
  height: 200px;
  width: 200px;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.sides{
  color: black;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: 200px 100px;
  grid-template-areas: 'cat1 hip' 'blank cat2';

}

.cat1{
  grid-area: cat1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.cat1Value, .cat1Name{
  margin: 1px 0 0 0;
}
.cat2{
  grid-area: cat2;
}
.hip{
  grid-area: hip;
}